<div class = "container">
	<div class="jumbotron">
	  <h1>Welcome to my website!</h1>
	  <p>This will become a filterable porfoltio page using tags or likely something else... who knows.</p>
	  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more here</a></p>
	</div>
</div>